*{
    font-family:'Times New Roman', Times, serif;
    margin:1rem;
}

header
{
    
    display: flex;
    justify-content: space-between;
    ;
    /* margin:left1rem; */
    /* background-color: aqua; */
    
}
ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: x-large;
    
}
nav{
    width: 60vw;
    margin: top 1rem;;
}
.bigimg{
    width: 95vw;
    margin: left 1rem;;
}
.c1{
    display: flex;
    width: 95vw;
}
.c2{
    margin-top: 2rem;
    padding: 1px;
    margin-right: 1rem;
    /* font-size: large; */
    /* font-weight: 100; */
}

.c1 div{
    text-align: center;
    text-align: justify;
    padding:normal;
    /* justify-content: space-between; */
}
.bigimg{
    margin:1rem;
}

p{
    font-size: large;
    text-align: center;
    line-height: 2rem;
}
h1{
    font-size:x-large;
    font-weight:normal;
    text-align: center;

}
footer{
    text-align: center;
    font-size: x-large;
    background-color: black;
    color: aliceblue;
    padding:1rem;
   
}